.product-list {
    width: 100%;
    min-height: 65vh;
    margin-top: 130px;
    margin-left: 15px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);


}